Repository diyorbekrustamjonov/nestjs-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, eslint --fix

feat: added nvmrc
  .nvmrc
Due: none

change: removed server and sawagger configs
  src/common/config/server.config.ts
  src/common/config/swagger.config.ts
Due: eslint --cache --fix, prettier --write

change: removed package-lock file
  package-lock.json
Due: prettier --write

feat: added nyc file for using
  nyc.config.js
Due: eslint --fix

refactor: removed files
  src/common/config/jwt.config.ts
  src/common/constants/auth.constant.ts
  src/common/constants/database.constants.ts
Due: eslint --cache --fix, prettier --write

feat: added config file
  src/components/config/jwt.config.ts
  src/components/config/server.config.ts
  src/components/config/swagger.config.ts
Due: eslint --cache --fix, prettier --write

feat: added pnpm file
  pnpm-lock.yaml
Due: none

docs: added documentation of key features
  README.md
Due: prettier --write

feat: added package.json file
  package.json
Due: prettier --write

feat: changed app main module file
  src/app.module.ts
Due: eslint --cache --fix, prettier --write

feat: changed index exports files
  src/common/constants/index.ts
  src/components/config/index.ts
Due: eslint --cache --fix, prettier --write

feat: changed main running file
  src/main.ts
Due: eslint --cache --fix, prettier --write

feat: config changed
  src/components/config/axios.config.ts
  src/components/config/mongodb.config.ts
Due: eslint --cache --fix, prettier --write

style: changed styles prettier
  src/core/shared/database/mongodb/mongodb.module.ts
  src/core/shared/seeders/seeder.ts
Due: eslint --cache --fix, prettier --write

feat: added config implementation file and using config service
  src/components/config/config.ts
  src/components/config/impl/config.ts
Due: eslint --cache --fix, prettier --write

feat: changed coordinates custom validator
  src/common/decorators/validator/coordinates.ts
Due: eslint --cache --fix, prettier --write

feat: changed data paths
  src/app.module.ts
  src/common/enums/upload.enum.ts
  src/common/logger/logger.module.ts
  src/common/logger/logger.service.ts
  src/common/pipe/index.ts
  src/common/pipe/minio-upload.pipe.ts
  src/common/pipe/minio-uploads.pipe.ts
  src/common/pipe/object-id.pipe.ts
  src/common/utils/unique-id.util.ts
  src/components/config/impl/modules/axios.config.ts
  src/components/config/impl/modules/index.ts
  src/components/config/impl/modules/jwt.config.ts
  src/components/config/impl/modules/logger.config.ts
  src/components/config/impl/modules/mongodb.config.ts
  src/components/config/impl/modules/server.config.ts
  src/components/config/impl/modules/swagger.config.ts
  src/components/pipe/index.ts
  src/components/pipe/object-id.pipe.ts
  src/components/utils/unique-id.util.ts
  src/core/shared/database/mongodb/mongodb.module.ts
  src/core/shared/seeders/seeder.ts
  src/main.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{json,md})
  eslint --fix: any of: *.js
